@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --main-background: 244, 242, 238;
    --card-background: 255, 255, 255;
    --card-background-hover: 244, 242, 238;
    --card-border: 224, 224, 224;
    --item-border: 178, 178, 178;
    --item-border-focus: 182, 182, 182;
    --text-title: 68, 68, 68;
    --text-heavy-title: 31, 31, 31;
    --text-heavy-title-hover: 38, 119, 199;
    --text-date: 120, 120, 120;
    --text-breakpoint: 68, 68, 68;
    --text-content: 25, 25, 25;
    --text-placeholder: 102, 102, 102;
    --text-placeholder-hover: 24, 111, 198;
    --text-activity: 64, 64, 64;
    --text-activity-hover: 0, 0, 0;
    --text-light-activity: 103, 103, 103;
    --header: 0, 0, 0;
    --author-name: 26, 26, 26;
    --author-name-hover: 10, 102, 194;
    --author-bio: 120, 120, 120;
    --form: 244, 242, 238;
    --icon: 64, 64, 64;
    --button-icon-hover: 238, 238, 238;
    --button-submit-disable: 232, 232, 232;
    --button-submit-enable: 10, 102, 194;
    --button-submit-enable-hover: 0, 65, 130;
    --button-submit-text: 255, 255, 255;
    --list-selected: 3, 118, 80;
}

.dark {
    --main-background: 0, 0, 0;
    --card-background: 27, 31, 35;
    --card-background-hover: 44, 47, 51;
    --card-border: 35, 35, 35;
    --item-border: 118, 121, 123;
    --item-border-focus: 117, 120, 122;
    --text-title: 68, 68, 68;
    --text-heavy-title: 164, 165, 167;
    --text-heavy-title-hover: 113, 183, 251;
    --text-date: 149, 151, 153;
    --text-breakpoint: 149, 151, 153;
    --text-content: 228, 229, 229;
    --text-placeholder: 164, 165, 167;
    --text-placeholder-hover: 110, 178, 243;
    --text-activity: 180, 181, 183;
    --text-activity-hover: 232, 232, 233;
    --text-light-activity: 164, 164, 167;
    --header: 233, 233, 233;
    --author-name: 222, 222, 223;
    --author-name-hover: 113, 183, 251;
    --author-bio: 149, 151, 153;
    --form: 27, 31, 35;
    --icon: 180, 181, 183;
    --button-icon-hover: 44, 47, 51;
    --button-submit-disable: 55, 58, 61;
    --button-submit-enable: 113, 183, 251;
    --button-submit-enable-hover: 170, 214, 255;
    --button-submit-text: 23, 37, 51;
    --list-selected: 55, 200, 152;
}