@tailwind base;
@tailwind components;
@tailwind utilities;
.light {
  --background: 229, 231, 235; /* gray-200 */
  --boxbackground: 255, 255, 255; /* white */
  --boxheading: 0, 0, 0; /* black */
  --postsbuttoncolor: 255, 255, 255; /* white */
  --text: 0, 0, 0; /* black */
  --companyheader1: 17, 24, 39; /* gray-900 */
  --companyheader2: 107, 114, 128; /* gray-500 */
  --navbuttons: 55, 65, 81; /* gray-700 */
  --overview: 17, 24, 39; /* gray-900 */
  --overviewcomponenttext: 107, 114, 128; /* gray-500 */
  --postsslider: 55, 65, 81; /* gray-700 */
  --text2: 55, 65, 81; /* gray-700 */
  --modalbackground: 229, 231, 235; /* Light mode (gray-200) */
  --sliderbutton: 209, 213, 219; /* gray-300 */
  --uploadimage: 243, 244, 246;
}

.dark {
  --background: 0, 0, 0; /* black */
  --boxbackground: 27, 31, 35; /* custom dark gray */
  --boxheading: 255, 255, 255; /* white */
  --postsbuttoncolor: 27, 31, 35; /* custom dark gray */
  --text: 255, 255, 255; /* white */
  --companyheader1: 255, 255, 255; /* white */
  --companyheader2: 155, 156, 158; /* custom gray */
  --navbuttons: 153, 154, 156; /* custom gray */
  --overview: 153, 154, 156; /* custom gray */
  --overviewcomponenttext: 153, 154, 156; /* custom gray */
  --postsslider: 255, 255, 255; /* custom gray */
  --text2: 255, 255, 255; /* white */
  --modalbackground: 27, 31, 35; /* Dark mode */
  --sliderbutton: 75, 85, 99; /* custom gray */
  --uploadimage: 75, 85, 99;
}
